/* public-sans-200 - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 200;
	src: url("/assets/fonts/public-sans-v7-latin-200.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/public-sans-v7-latin-200.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/public-sans-v7-latin-200.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/public-sans-v7-latin-200.woff") format("woff"), /* Modern Browsers */
	url("/assets/fonts/public-sans-v7-latin-200.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/public-sans-v7-latin-200.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-300 - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/assets/fonts/public-sans-v7-latin-300.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/public-sans-v7-latin-300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/public-sans-v7-latin-300.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/public-sans-v7-latin-300.woff") format("woff"), /* Modern Browsers */
	url("/assets/fonts/public-sans-v7-latin-300.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/public-sans-v7-latin-300.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-regular - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/public-sans-v5-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/public-sans-v5-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/public-sans-v5-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/public-sans-v5-latin-regular.woff") format("woff"), /* Modern Browsers */
	url("/assets/fonts/public-sans-v5-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/public-sans-v5-latin-regular.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* public-sans-700 - latin */
@font-face {
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/assets/fonts/public-sans-v5-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/public-sans-v5-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/public-sans-v5-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/public-sans-v5-latin-700.woff") format("off"), /* Modern Browsers */
	url("/assets/fonts/public-sans-v5-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/public-sans-v5-latin-700.svg#PublicSans") format("svg"); /* Legacy iOS */
}
/* roboto-mono-regular - latin */
@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/assets/fonts/roboto-mono-v13-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/roboto-mono-v13-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/roboto-mono-v13-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/roboto-mono-v13-latin-regular.woff") format("woff"), /* Modern Browsers */
	url("/assets/fonts/roboto-mono-v13-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/roboto-mono-v13-latin-regular.svg#RobotoMono") format("svg"); /* Legacy iOS */
}
/* roboto-mono-500 - latin */
@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/assets/fonts/roboto-mono-v13-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
	url("/assets/fonts/roboto-mono-v13-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("/assets/fonts/roboto-mono-v13-latin-500.woff2") format("woff2"), /* Super Modern Browsers */
	url("/assets/fonts/roboto-mono-v13-latin-500.woff") format("woff"), /* Modern Browsers */
	url("/assets/fonts/roboto-mono-v13-latin-500.ttf") format("truetype"), /* Safari, Android, iOS */
	url("/assets/fonts/roboto-mono-v13-latin-500.svg#RobotoMono") format("svg"); /* Legacy iOS */
}

*, ::before, ::after {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "Public Sans", sans-serif;
	color: #272727;
	font-size: 1.05em;
	background-color: #ECECEC;
}

button {
	outline: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
	border-radius: 0.25em;
	background-color: #F7F7F7;
	border: 0.1em solid #E3E3E3;
	padding: 0.4em 0.6em;
	color: #5a5a5a;
	font-size: 0.85em;
}

button.containerless {
	box-shadow: none;
	padding: 0 0;
	border: none;
	background-color: inherit;
	color: #959595;
	cursor: pointer;
}

select {
	background-color: #F7F7F7;
	color: #5a5a5a;
	padding: 0.4em 0.3em;
	border-radius: 0.3em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	border: 0.1em solid #E3E3E3;
	outline: 0;
	font-size: 0.85em;
}

input {
	background-color: #F7F7F7;
	color: #5a5a5a;
	padding: 0.4em 0.5em;
	border-radius: 0.3em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	border: 0.1em solid #E3E3E3;
	outline: 0;
	font-size: 0.85em;
}

input[type="number"] {
	font-family: "Roboto Mono", monospace;
}

input::placeholder {
	color: #a3a3a3;
}

div.input {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.6em;
	margin-right: 1.5em;
}

div.input label {
	font-size: 0.9em;
	margin-bottom: 0.25em;
	color: #515151;
	user-select: none;
}

span.money-currency {
	color: #959595;
	margin-right: 0.15em;
	font-weight: 200;
}
span.money-number {
	margin-right: 0.2em;
}
span.money-currency-code {
	color: #959595;
	font-weight: 300;
}
